body {
margin-top: 80px;
margin-bottom: 100px;
background-color: rgb(250, 250, 245);
}

.container {
    max-width: 1000px;
    align-content: center;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family:Georgia, 'Times New Roman', Times, serif
  }

  a {
    text-decoration: none;
    color: #1e5896; 
  }